
<div class="banner-body regstr">
    <div class="container">
      
            <script src="js/classie.js"></script>
            <script src="js/uisearch.js"></script>
            <script>
            new UISearch(document.getElementById('sb-search'));
            </script>
            <!-- //search-scripts -->
        </div>
        <!-- //header -->
        <!-- register -->
        <div class="sign-up-form">
            <h3>Register Here</h3>
            <!-- show any messages that come back with authentication -->
            {{#each message }}
            <div class="alert alert-danger">
                {{this}}
            </div>
            {{else}}
            <!--  nothing -->
            {{/each}}
    


                <!-- LOGIN FORM -->
            <form action="/signup" method="post" class="sign-up">
        
             
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="fName">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lName">
                </div>
                   <div class="form-group">
                    <label>email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                  <form>
                    <input type="submit" value="Submit">
                </form>
            </form>
            </div>
        </div>
        <!-- //register -->
    </div>
</div>